:host {
  font-family: "Verdana";
  font-size: 10px;
}

.callsign {
  font-size: 12px;
  font-weight: bold;
}

.airline {
  font-size: 10px;
  font-weight: bold;
}

.flight {
  font-size: 12px;
}
